<!--paginate.ejs-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <div class="container">

            <table id="bookingsTable" class="table is-bordered is-striped is-hoverable is-fullwidth">



            </table>

            <nav class="pagination" role="navigation" aria-label="pagination">
                <a class="pagination-previous" id="previousButton">Previous</a>
                <a class="pagination-next" id="nextButton">Next page</a>
                <ul class="pagination-list">
                    <li>
                        <a class="pagination-link" id="firstLink">1</a>
                    </li>
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                    <li>
                        <a class="pagination-link" id="previousLink">45</a>
                    </li>
                    <li>
                        <a class="pagination-link is-current" id="currentLink">46</a>
                    </li>
                    <li>
                        <a class="pagination-link" id="nextLink">47</a>
                    </li>
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                    <li>
                        <a class="pagination-link" id="lastLink">86</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</body>
<script>
    var previousButton = document.getElementById("previousButton");
    var nextButton = document.getElementById("nextButton");
    var currentLink = document.getElementById("currentLink");
    var previousLink = document.getElementById("previousLink");
    var nextLink = document.getElementById("nextLink");
    var firstLink = document.getElementById("firstLink");
    var lastLink = document.getElementById("lastLink");

    var numOfRecords = parseInt("<%= numOfRecords %>");

    // const urlParams = new URLSearchParams(window.location.search);
    // var limit = Math.max(parseInt(urlParams.get("limit")), 2) || 2;
    // var offset = Math.max(parseInt(urlParams.get("offset")), 0) || 0;
    async function fetchData(limit, offset) {

        var response = await fetch('/bookings/aginate?limit=' + limit + '&offset=' + offset);

        if (response.ok) {
            var bookings = await response.json();

            var temp = "";
            bookings.forEach(function (booking) {
                temp += "<tr><td>" + booking.name + "</td><td>" + booking.numTickets + "</td></tr>"
            });

            document.getElementById("bookingsTable").innerHTML = temp;
            buildLinks(limit, offset);

        } else {
            document.getElementById("bookingsTable").innerHTML = "<tr><td>" + response.statusText + "</td></tr>";
        }
    }

    function buildLinks(limit, offset) {

        // var baseUrl = "/bookings/paginate?limit=" + limit + "&offset=";

        // firstLink.href = baseUrl + 0;
        // previousButton.href = baseUrl + (offset - limit);
        // previousLink.href = baseUrl + (offset - limit);
        // currentLink.href = baseUrl + offset;
        // nextLink.href = baseUrl + (offset + limit);
        // nextButton.href = baseUrl + (offset + limit);
        // lastLink.href = baseUrl + (Math.ceil(numOfRecords / limit) - 1) * limit;

        firstLink.onclick = function () { fetchData(limit, 0) };
        previousButton.onclick = function () { fetchData(limit, offset - limit) };
        previousLink.onclick = function () { fetchData(limit, offset - limit) };
        currentLink.onclick = function () { fetchData(limit, offset) };
        nextLink.onclick = function () { fetchData(limit, offset + limit) };
        nextButton.onclick = function () { fetchData(limit, offset + limit) };
        lastLink.onclick = function () { fetchData(limit, (Math.ceil(numOfRecords / limit) - 1) * limit) };

        var currentPageNumber = Math.floor(offset / limit) + 1;
        previousLink.innerHTML = currentPageNumber - 1;
        currentLink.innerHTML = currentPageNumber;
        nextLink.innerHTML = currentPageNumber + 1;
        lastLink.innerHTML = Math.ceil(numOfRecords / limit);

        if (offset < limit) {
            previousButton.setAttribute("disabled", true);
            previousButton.onclick = null;
            previousLink.style.display = "none";
        } else {
            previousButton.removeAttribute("disabled");
            previousLink.style.display = "block";
        }

        if (offset + limit >= numOfRecords) {
            nextButton.setAttribute("disabled", true);
            nextButton.onclick = null;
            nextLink.style.display = "none";
        } else {
            nextButton.removeAttribute("disabled");
            nextLink.style.display = "block";
        }
    }

    // buildLinks();
    fetchData(2, 0);

</script>

</html>