<!DOCTYPE html>
<html>
  <head>
    <title>All Bookings</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
        <% bookings.forEach( function(booking) { %>
        
            <tr>
            	<td><%= booking.name %></td>
            	<td><%= booking.numTickets %></td>
              <td><%= booking.superhero %></td>
            </tr>
        
        <% }); %>
     </table>
     
  </body>
</html> 